<table border="1" *ngIf="myarray" style="width: 100%;height: 100%;">
  <ng-container *ngFor="let s of myarray, let i = index">
  <tr *ngIf="i%3==0"></tr>
    <td class="col-sm-3" style="background-color: antiquewhite;text-align:center;">
		    <img class="img-circle" [src]="s.img" alt="Generic placeholder image" width="160" height="160">
        <h2>{{s.name}}</h2>
        <p>{{s.details}}</p>
        <p><a class="btn btn-default" role="button" mat-raised-button (click)=buy(s)>Add to basket</a></p>
    </td>

</ng-container>
</table>
